@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')

*{
    margin: 0;
    padding; 0;
    box-sizing: border-box;
    font-family: outfit;
}
img{
    max-width: 100%;
}
ul,
ol{
    padding-left: 35px;
}
body{
    background-color: hsl(30, 54%, 90%);
}
h1,
h2{
    font-family: youngserif;
    color: hsl(14, 45%, 36%);
    letter-spacing: 0.5rem;
}
p, li{
    line-height: 1.6;
    color: hsl(30, 10%, 34%);
}
li{
    margin-top: 0.5rem;
}
.container{
    max-width: 700px;
    margin-inline: auto;
    background-color: #fff;
}
.container div:not(first-child){
    padding: 1.5rem;
}
.banner h1{
    color: hsl(24, 5%, 18%);
    margin-bottom: 1rem;
}
.banner article{
    background-color: hsl(330, 100%, 98%);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}
.banner article h3{
    color: hsl(332, 51%, 32%);
    margin-bottom: 0.5rem;
}
.instructions{
    border-top: 1px solid hsl(30, 10%, 34%);
    border-bottom: 1px solid hsl(30, 10%, 34%);
}
.instructions li{
    color: hsl(14, 45%, 36%);
}
.nutrition p{
    margin-top: 1rem;
}
.nutrition ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid hsl(30, 10%, 34%);
    padding: 0.5rem 0;
}
.nutrition ul li:last-child{
    border-bottom: none;
}
.attribution{
    text-align: center;
    font-size: 13px;
    margin-bottom: 5rem;
    margin-top: 1rem;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px){
    .container{
        margin: 5rem auto 0;
        padding: 2rem;
        border-radius: 1rem;
    }
    .banner h1{
        font-size: 36px;
    }
    img{
        border-radius: 1rem;
    }
}